[paths]
source =
   src
   */site-packages

[run]
branch = true
source =
    errors
parallel = true
omit =
    src/errors/__main__.py
    src/errors/cli.py

[report]
show_missing = true
precision = 2
omit = 
    *migrations*
    src/errors/__main__.py
    src/errors/cli.py
