[paths]
source =
   src
   */site-packages

[run]
branch = true
source =
    errors
    tests
parallel = true
omit =
    __main__.py

[report]
show_missing = true
precision = 2
omit = 
    *migrations*
    __main__.py
